/*---------------------------  global  --------------------------------*/
.row {
  padding: 0;
  height: 100%;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  color: #E43D30;
  font-size: 3rem;
  min-height: 5%;
  margin: 5%;
}

.col-top {
  height: 20%;
}

.col-bottom {
  height: 80%;
}

.col-top .col-bottom {
  padding: 0;
}

/*---------------------------  container1  --------------------------------*/
#container1 {
  padding: 0;
  height: 500px;
  background: #E43D30;
}

#container1 h1 {
  font-size: 4rem;
  margin: 0 auto;
  width: fit-content;
  color: white;
  text-transform: uppercase;
}

#container1 .col-top {
  height: 88%;
}

#container1 .col-bottom {
  height: 12%;
}

/*---------------------------  container2  --------------------------------*/
#container2 {
  height: 1100px;
  padding: 0;
  background: white;
}

/*---------------------------  container3  --------------------------------*/
#container3 {
  margin: 0;
  padding: 0;
  height: 450px;
  max-width: 100%;
  background: url("../../assets/images/container3_image.svg") right no-repeat, #E43D30;
}

#container3_in {
  height: 100%;
  color: white;
  padding: 0;
}

#container3 .col {
  padding: 0;
  height: 100%;
}

#container3 h2 {
  width: 70%;
  min-height: 20%;
}

#container3 p {
  margin-bottom: 0;
  min-height: 5%;
}

#container3 span {
  background-color: transparent;
  font-size: 1.15rem;
  color: white;
  padding: 0;
}

#container3 button {
  height: 15%;
  background-color: transparent;
  border: 0.2rem solid white;
  width: 40%;
  max-width: 40%;
  min-width: 30%;
  position: absolute;
  margin: 34%;
}

#container3 .text {
  margin: 20% 0;
  min-height: 50%;
}

/*---------------------------  media  --------------------------------*/
/*Medium devices (tablets)*/
@media (min-width: 768px) and (max-width: 992px) {
  /*---------------------------  container1 --------------------------------*/
  #container1 {
    height: 350px;
  }

  #container1 .row img {
    margin-top: 15% !important;
  }

  /*---------------------------  container2 --------------------------------*/
  #container2 {
    height: 700px;
  }

  /*---------------------------  container3  --------------------------------*/
  #container3 {
    height: 300px;
  }
}
