<div class="container-fluid" id="container1">
  <div class="row">
    <div class="col col-top">
      <img src="assets/images/structures/structures.svg" alt="Structures" width="30%"
           height="30%" style="display: block;margin: 11% auto">
    </div>
    <div class="w-100" style="height: 0"></div>
    <div class="col col-bottom">
      <h1>Structures</h1>
    </div>
  </div>
</div>
<div class="container" id="container2">
  <div class="row">
    <div class="col col-top">
      <h1>available soon</h1>
    </div>
    <div class="w-100" style="height: 0"></div>
    <div class="col col-bottom">
      <img style="margin: 0 20%" src="assets/images/structures/structures2.svg" alt="Available Soon" width="60%" height="auto">
    </div>
  </div>
</div>
<div class="container" id="container3">
  <div class="container" id="container3_in">
    <div class="row">
      <div class="col">
        <div class="text">
          <h2>we are not just a supplier, we are a partner!</h2>
          <p>Increase your business with at SUNWABLE.</p>
          <p>We have more than 10 years of experience and knowledge in the development of energy solutions.We invite you
            to
            be a part of it.</p>
        </div>
      </div>
      <div class="col">
        <button><span>become an installer</span></button>
      </div>
    </div>
  </div>
</div>
