/*---------------------------  global  --------------------------------*/
.max-h-50 {
  max-height: 50%;
}

.max-h-90 {
  max-height: 95%;
}

/*---------------------------  container1  --------------------------------*/
.container-detail {
  height: 2250px;
}

.col-info,
.col-text {
  height: 60%;
}

.col-img,
.col-img-detail,
.col-detail {
  height: 40%;
}

.col-first {
  height: 80%;
}

.col-align-center {
  height: 5px;
  background-color: #E43D30;
  border: 0.2rem solid #E43D30;
  border-radius: 50px;
  margin: auto;
}

.align-self-end h6 {
  color: #E43D30;
}

.col-align-last {
  height: 19%;
}

.col-left button {
  border: 0.2rem solid #E43D30;
  background-color: #E43D30;
  color: white;
  width: 50%;
}

.carousel-control-next,
.carousel-control-prev {
  opacity: 100%;
  width: 100%;
}

.carousel-control-next {
  padding-right: 15px;
}

.carousel-control-prev {
  padding-left: 15px;
}

.col-top {
  height: 20%;
}

.col-bottom {
  height: 80%;
}

.carousel-arrow {
  color: #E43D30;
  font-size: 3rem;
}

h1, .potencia {
  color: #E43D30;
}

.p {
  font-size: 1.2rem;
}

.col-detail p {
  color: #706f6f;
}

.col-col-detail {
  background-color: #f4f4f4;
  max-width: 49%;
  max-height: 48%;
}

.form_btn {
  background-color: #E43D30;
  color: white;
  border: 0.2rem solid #E43D30;
  width: 30%;
  height: 50%;
}

/*---------------------------  container6  --------------------------------*/
#container6-full {
  height: 350px;
  background: url("../../assets/images/container3_image.svg") right no-repeat, #E43D30;
}

#container6 .btn {
  width: 45%;
  height: 30%;
  border: 0.2rem solid white;
  top: 35%;
}

/*---------------------------  media  --------------------------------*/
/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
  /*---------------------------  container1  --------------------------------*/
  .container-detail {
    height: 2250px;
  }

  .p {
    font-size: 1.4rem;
  }

  /*---------------------------  container6  --------------------------------*/
  #container6 .btn {
    width: auto;
    height: auto;
    top: 45%;
  }

}

/*Medium devices (tablets)*/
@media (min-width: 768px) {
  /*---------------------------  container1  --------------------------------*/
  .container-detail {
    height: 1350px;
  }

  .col-img-detail,
  .col-info {
    height: 100%;
  }

  .p {
    font-size: 1.2rem;
  }

  .form_btn {
    height: 30%;
  }

  .col-top {
    height: 10%;
  }

  .col-bottom {
    height: 90%;
  }

}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  /*---------------------------  container6  --------------------------------*/
  #container6-full {
    height: 450px;
  }
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
  /*---------------------------  container1  --------------------------------*/
  .container-detail {
    height: 1500px;
  }
}
