<div class="container" id="container1">
  <div class="row">
    <div class="col">
      <img class="img1" src="assets/images/solar%20modules/solarmodules2.svg" alt="">
      <h5>Mercury</h5>
      <p>Módulo fotovoltaicode policristalino 60 células.</p>
      <p style="color: #E43D30;font-size: 1.2rem;margin-top: 15%">POTÊNCIA: 285 – 300 WATT</p>
      <p>Os módulos fotovoltaicos policristalinos de 60 células da série Mercury são produtos adequados para qualquer
        tipo de utilização. Desde instalações residenciais a projetos comerciais ou públicos, graças à sua alta
        eficiência, estes painéis solares oferecem um ótimo desempenho em diversas condições climáticas. A série Mercury
        é instalada numa estrutura de alumínio anodizado de 35 mm. Uma combinação que garante uma alta resistência e um
        peso razoável. O vidro antirreflexo de 3.2 mm otimiza o desempenho da radiação solar em todo o painel.</p>
      <!--    <button routerLink="/product_detail"><span>+ Info</span></button>-->
    </div>
    <div class="col"></div>
  </div>
</div>
<div class="container" id="container2">
  <div class="row">
    <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="0">
      <!-- Carousel indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <!-- Wrapper for carousel items -->
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="row">
            <div class="col-sm-3">
              <div class="thumb-wrapper">
                <div class="img-box">
                  <img class="img2_carousel" src="assets/images/solar%20modules/solar_exemplo.svg" alt="">
                  <img class="img1_carousel" src="assets/images/solar%20modules/solarmodules2.svg" alt="">
                </div>
                <div class="thumb-content">
                  <h5>Mercury</h5>
                  <p>Módulo fotovoltaicode policristalino 60 células.</p>
                  <button routerLink="/product_detail"><span>+ Info</span></button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row">
          </div>
        </div>
        <div class="carousel-item">
          <div class="row">
          </div>
        </div>
      </div>
      <!-- Carousel controls -->
      <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
        <i class="fa fa-angle-left"></i>
      </a>
      <a class="carousel-control-next" href="#myCarousel" data-slide="next">
        <i class="fa fa-angle-right"></i>
      </a>
    </div>
  </div>
</div>
<div class="container" id="container3">
  <div class="row">
    <div class="col-5" style="margin-left: 10%;padding: 0;height: 100%">
      <h4>we are not just a supplier, we are a partner!</h4>
      <p>Increase your business with at SUNWABLE.</p>
      <p>We have more than 10 years of experience and knowledge in the development of energy solutions.We invite you
        to
        be a part of it.</p>
    </div>
    <div class="col" style="padding: 0;height: 100%">
      <button><span>become an installer</span></button>
      <img src="assets/images/container3_image.svg" alt="">
    </div>
  </div>
</div>
<!--<div class="container" id="container2.1">-->
<!--    <div class="row">-->
<!--      <div class="col-4" id="col1">-->
<!--        <img class="img2" src="assets/images/solar%20modules/solar_exemplo.svg" alt="">-->
<!--        <img class="img1" src="assets/images/solar%20modules/solarmodules2.svg" alt="">-->
<!--        <h5>Mercury</h5>-->
<!--        <p>Módulo fotovoltaicode policristalino 60 células.</p>-->
<!--        <button routerLink="/product_detail"><span>+ Info</span></button>-->
<!--      </div>-->
<!--      <div class="col-4" id="col2">-->
<!--        <img class="img2" src="assets/images/solar%20modules/solar_exemplo.svg" alt="">-->
<!--        <img class="img1" src="assets/images/solar%20modules/solarmodules2.svg" alt="">-->
<!--        <h5>Mercury</h5>-->
<!--        <p>Módulo fotovoltaicode policristalino 60 células.</p>-->
<!--        <button><span>+ Info</span></button>-->
<!--      </div>-->
<!--      <div class="col-4" id="col3">-->
<!--        <img class="img2" src="assets/images/solar%20modules/solar_exemplo.svg" alt="">-->
<!--        <img class="img1" src="assets/images/solar%20modules/solarmodules2.svg" alt="">-->
<!--        <h5>Mercury</h5>-->
<!--        <p>Módulo fotovoltaicode policristalino 60 células.</p>-->
<!--        <button><span>+ Info</span></button>-->
<!--      </div>-->
<!--      <div class="w-100"></div>-->
<!--      <div class="col-4" id="col4">-->
<!--        <img class="img2" src="assets/images/solar%20modules/solar_exemplo.svg" alt="">-->
<!--        <img class="img1" src="assets/images/solar%20modules/solarmodules2.svg" alt="">-->
<!--        <h5>Mercury</h5>-->
<!--        <p>Módulo fotovoltaicode policristalino 60 células.</p>-->
<!--        <button><span>+ Info</span></button>-->
<!--      </div>-->
<!--      <div class="col-4" id="col5">-->
<!--        <img class="img2" src="assets/images/solar%20modules/solar_exemplo.svg" alt="">-->
<!--        <img class="img1" src="assets/images/solar%20modules/solarmodules2.svg" alt="">-->
<!--        <h5>Mercury</h5>-->
<!--        <p>Módulo fotovoltaicode policristalino 60 células.</p>-->
<!--        <button><span>+ Info</span></button>-->
<!--      </div>-->
<!--      <div class="col-4" id="col6">-->
<!--        <img class="img2" src="assets/images/solar%20modules/solar_exemplo.svg" alt="">-->
<!--        <img class="img1" src="assets/images/solar%20modules/solarmodules2.svg" alt="">-->
<!--        <h5>Mercury</h5>-->
<!--        <p>Módulo fotovoltaicode policristalino 60 células.</p>-->
<!--        <button><span>+ Info</span></button>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
