<div class="container" id="container0" *ngIf="productType === 'solarModules'">
  <div class="row">
    <div class="container" id="container1">
      <div class="row">
        <div class="col">
          <div class="row" style="width: 100%;height: 100%;padding: 0;margin: 0">
            <div class="col" style="height: fit-content">
              <img class="img1" src="assets/images/solar%20modules/solarmodules2.svg" alt="Solar Modules">
              <h5>{{solarModule.nome}}</h5>
              <p>{{solarModule.resumo}}</p>
              <p style="color: #E43D30;font-size: 1.2rem;margin-top: 7%;font-weight: bold">
                <span>POTÊNCIA: </span>{{solarModule.potencia}}
              </p>
              <p style="font-weight: 400;font-size: 1.1rem;width: 100%;margin-top: 2%">{{solarModule.descricao}}</p>
            </div>
            <div class="container" id="container1.2">
              <div class="row">
                <div class="col" style="margin-right: 1%;margin-bottom: 1%">
                  <img src="assets/images/icons/container2.1/col_1.svg" alt="" height="40%" width="20%">
                  <p>{{solarModule.painel}}</p>
                </div>
                <div class="col" style="margin-left: 1%;margin-bottom: 1%">
                  <img src="assets/images/icons/container2.1/col_2.svg" alt="" height="40%" width="20%">
                  <p>{{solarModule.carga}}</p>
                </div>
                <div class="w-100" style="height: 0"></div>
                <div class="col" style="margin-right: 1%;margin-top: 1%">
                  <img src="assets/images/icons/container2.1/col_3.svg" alt="" height="40%" width="20%">
                  <p>{{solarModule.selecao}}</p>
                </div>
                <div class="col" style="margin-left: 1%;margin-top: 1%">
                  <img src="assets/images/icons/container2.1/col_4.svg" alt="" height="40%" width="20%">
                  <p>{{solarModule.garantia}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <img class="img2" src="{{solarModule.imagem}}" alt="{{solarModule.nome}}">
          <div class="btn">
            <button type="button" class="form_btn" data-toggle="modal" data-target="#myModal">Formulário</button>
            <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-body">
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    <button type="button" class="btn btn-primary">Imprimir Formulário</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr>
      </div>
    </div>
    <div class="container" id="container2">
      <div class="row">
        <div class="container" id="myContainer">
          <div class="row">
            <div class="col-sm-4" id="col" *ngFor="let sm of solarModules" [ngStyle]="ngIF(sm.id)">
              <div style="margin: 0;padding: 0;height: 100%;width: 100%">
                <img class="img2_carousel" src="{{sm.imagem}}" alt="{{sm.nome}}" width="50%"
                     height="90%">
                <img class="img1_carousel" src="assets/images/solar%20modules/solarmodules2.svg" alt="">
                <h2>{{sm.id}}</h2>
                <h5>{{sm.nome}}</h5>
                <p>{{sm.resumo}}</p>
                <button routerLink="/product_detail"><span>+ Info</span></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container" id="container3" *ngIf="productType === 'inverters'">
  <div class="row">
    <div class="container" id="container4">
      <div class="row">
        <div class="col" style="height: fit-content">
          <img class="img1" src="assets/images/inverters/inverters.svg" alt="Inverters">
          <h5>{{inverter.nome}}</h5>
          <p>{{inverter.resumo}}</p>
          <p style="color: #E43D30;font-size: 1.3rem;margin-top: 5%;font-weight: bold">
            <span>POTÊNCIA DE SAÍDA: </span>{{inverter.potencia}}</p>
          <p style="font-weight: 400;font-size: 1.1rem;width: 100%;margin-top: 2%">{{inverter.descricao}}</p>
          <p style="font-size: 1.2rem;margin-top: 5%">Dimensões: {{inverter.dimensoes}}</p>
        </div>
        <div class="col">
          <img class="img2" src="{{inverter.imagem}}" alt="{{inverter.nome}}">
          <div class="btn">
            <button type="button" class="form_btn" data-toggle="modal" data-target="#myModal2">Formulário</button>
            <!-- Modal -->
            <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2"
                 aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-body">
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    <button type="button" class="btn btn-primary">Imprimir Formulário</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr style="">
      </div>
    </div>
    <!--    <div class="container" id="container5">-->
    <!--      <div class="row">-->
    <!--        <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="0">-->
    <!--          &lt;!&ndash; Carousel indicators &ndash;&gt;-->
    <!--          <ol class="carousel-indicators">-->
    <!--            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>-->
    <!--            <li data-target="#myCarousel" data-slide-to="1"></li>-->
    <!--            <li data-target="#myCarousel" data-slide-to="2"></li>-->
    <!--          </ol>-->
    <!--          &lt;!&ndash; Wrapper for carousel items &ndash;&gt;-->
    <!--          <div class="carousel-inner">-->
    <!--            <div class="carousel-item active" *ngFor="let sm of solarModules">-->
    <!--              <div class="row">-->
    <!--                <div class="col-sm-3">-->
    <!--                  <div class="thumb-wrapper">-->
    <!--                    <div class="img-box">-->
    <!--                      <img class="img2_carousel" src="{{sm.imagem}}" alt="{{sm.nome}}">-->
    <!--                      <img class="img1_carousel" src="assets/images/solar%20modules/solarmodules2.svg" alt="">-->
    <!--                    </div>-->
    <!--                    <div class="thumb-content">-->
    <!--                      <h5>{{sm.nome}}</h5>-->
    <!--                      <p>{{sm.resumo}}</p>-->
    <!--                      <button routerLink="/product_detail"><span>+ Info</span></button>-->
    <!--                    </div>-->
    <!--                  </div>-->
    <!--                </div>-->
    <!--              </div>-->
    <!--            </div>-->
    <!--          </div>-->
    <!--          &lt;!&ndash; Carousel controls &ndash;&gt;-->
    <!--          <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">-->
    <!--            <i class="fa fa-angle-left"></i>-->
    <!--          </a>-->
    <!--          <a class="carousel-control-next" href="#myCarousel" data-slide="next">-->
    <!--            <i class="fa fa-angle-right"></i>-->
    <!--          </a>-->
    <!--        </div>-->
    <!--      </div>-->
    <!--    </div>-->
  </div>
</div>
<div class="container" id="container6">
  <div class="row">
    <div class="col-5" style="margin-left: 10%;padding: 0;height: 100%">
      <h4>we are not just a supplier, we are a partner!</h4>
      <p>Increase your business with at SUNWABLE.</p>
      <p>We have more than 10 years of experience and knowledge in the development of energy solutions.We invite you
        to
        be a part of it.</p>
    </div>
    <div class="col" style="padding: 0;height: 100%">
      <button><span>become an installer</span></button>
      <img src="assets/images/container3_image.svg" alt="">
    </div>
  </div>
</div>
<!--<div class="container" id="container2.1">-->
<!--    <div class="row">-->
<!--      <div class="col-4" id="col1">-->
<!--        <img class="img2" src="assets/images/solar%20modules/solar_exemplo.svg" alt="">-->
<!--        <img class="img1" src="assets/images/solar%20modules/solarmodules2.svg" alt="">-->
<!--        <h5>Mercury</h5>-->
<!--        <p>Módulo fotovoltaicode policristalino 60 células.</p>-->
<!--        <button routerLink="/product_detail"><span>+ Info</span></button>-->
<!--      </div>-->
<!--      <div class="col-4" id="col2">-->
<!--        <img class="img2" src="assets/images/solar%20modules/solar_exemplo.svg" alt="">-->
<!--        <img class="img1" src="assets/images/solar%20modules/solarmodules2.svg" alt="">-->
<!--        <h5>Mercury</h5>-->
<!--        <p>Módulo fotovoltaicode policristalino 60 células.</p>-->
<!--        <button><span>+ Info</span></button>-->
<!--      </div>-->
<!--      <div class="col-4" id="col3">-->
<!--        <img class="img2" src="assets/images/solar%20modules/solar_exemplo.svg" alt="">-->
<!--        <img class="img1" src="assets/images/solar%20modules/solarmodules2.svg" alt="">-->
<!--        <h5>Mercury</h5>-->
<!--        <p>Módulo fotovoltaicode policristalino 60 células.</p>-->
<!--        <button><span>+ Info</span></button>-->
<!--      </div>-->
<!--      <div class="w-100"></div>-->
<!--      <div class="col-4" id="col4">-->
<!--        <img class="img2" src="assets/images/solar%20modules/solar_exemplo.svg" alt="">-->
<!--        <img class="img1" src="assets/images/solar%20modules/solarmodules2.svg" alt="">-->
<!--        <h5>Mercury</h5>-->
<!--        <p>Módulo fotovoltaicode policristalino 60 células.</p>-->
<!--        <button><span>+ Info</span></button>-->
<!--      </div>-->
<!--      <div class="col-4" id="col5">-->
<!--        <img class="img2" src="assets/images/solar%20modules/solar_exemplo.svg" alt="">-->
<!--        <img class="img1" src="assets/images/solar%20modules/solarmodules2.svg" alt="">-->
<!--        <h5>Mercury</h5>-->
<!--        <p>Módulo fotovoltaicode policristalino 60 células.</p>-->
<!--        <button><span>+ Info</span></button>-->
<!--      </div>-->
<!--      <div class="col-4" id="col6">-->
<!--        <img class="img2" src="assets/images/solar%20modules/solar_exemplo.svg" alt="">-->
<!--        <img class="img1" src="assets/images/solar%20modules/solarmodules2.svg" alt="">-->
<!--        <h5>Mercury</h5>-->
<!--        <p>Módulo fotovoltaicode policristalino 60 células.</p>-->
<!--        <button><span>+ Info</span></button>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
