<div class="container" id="container0" *ngIf="productType === 'solarModules'">
  <div class="row">
    <div class="container" id="container1">
      <div class="row">
        <div class="col">
          <div class="row" style="width: 100%;height: 100%;padding: 0;margin: 0">
            <div class="col" style="height: fit-content">
              <img class="img1" src="assets/images/solar%20modules/solarmodules2.svg" alt="Solar Modules">
              <h5>{{solarModule.name}}</h5>
              <p>{{solarModule.resume}}</p>
              <p style="color: #E43D30;font-size: 1.2rem;margin-top: 7%;font-weight: bold">
                <span>POTÊNCIA: </span>{{solarModule.power}}
              </p>
              <p style="font-weight: 400;font-size: 1.1rem;width: 100%;margin-top: 2%">{{solarModule.description}}</p>
            </div>
            <div class="container" id="container1.2">
              <div class="row">
                <div class="col" style="margin-right: 1%;margin-bottom: 1%">
                  <img src="assets/images/icons/container2.1/col_1.svg" alt="" height="40%" width="20%">
                  <p>{{solarModule.panel}}</p>
                </div>
                <div class="col" style="margin-left: 1%;margin-bottom: 1%">
                  <img src="assets/images/icons/container2.1/col_2.svg" alt="" height="40%" width="20%">
                  <p>{{solarModule.charge}}</p>
                </div>
                <div class="w-100" style="height: 0"></div>
                <div class="col" style="margin-right: 1%;margin-top: 1%">
                  <img src="assets/images/icons/container2.1/col_3.svg" alt="" height="40%" width="20%">
                  <p>{{solarModule.selection}}</p>
                </div>
                <div class="col" style="margin-left: 1%;margin-top: 1%">
                  <img src="assets/images/icons/container2.1/col_4.svg" alt="" height="40%" width="20%">
                  <p>{{solarModule.warranty}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <img class="img2" src="{{solarModule.image}}" alt="{{solarModule.name}}">
          <div class="btn">
            <button type="button" class="form_btn" data-toggle="modal" data-target="#myModal">Datasheet</button>
            <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-body">
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    <button type="button" class="btn btn-primary">Imprimir Formulário</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr>
      </div>
    </div>
    <div class="container" id="container2">
      <div class="row">
        <div class="container" id="myContainer">
          <div class="row">
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="false">
              <div class="carousel-inner">
                <div class="carousel-item" id="carousel-item"
                     *ngFor="let item of slides; let id = index;let first = first"
                     [class.active]="first">
                  <div class="row">
                    <div class="col-sm-4" *ngFor="let sm of item; let id = index">
                      <a (click)="Refresh(sm.id)">
                        <img class="img2_carousel" src="{{sm.image}}" alt="{{sm.name}}" width="100%"
                           height="100%"></a>
                      <img class="img1_carousel" src="assets/images/solar%20modules/solarmodules2.svg" alt="">
                      <h5>{{sm.name}}</h5>
                      <p>{{sm.resumee}}</p>
                      <button (click)="Refresh(sm.id)"><span>+ Info</span></button>
                    </div>
                  </div>
                </div>
              </div>
              <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container" id="container3" *ngIf="productType === 'inverters'">
  <div class="row">
    <div class="container" id="container4">
      <div class="row">
        <div class="col">
          <img class="img1" src="assets/images/inverters/inverters.svg" alt="Inverters">
          <h5>{{inverter.name}}</h5>
          <p>{{inverter.resume}}</p>
          <p style="color: #E43D30;font-size: 1.3rem;margin-top: 5%;font-weight: bold">
            <span>POTÊNCIA DE SAÍDA: </span>{{inverter.power}}</p>
          <p style="font-size: 1rem;width: 100%;margin-top: 2%">{{inverter.description}}</p>
          <p style="font-size: 0.8rem;margin-top: 5%">Dimensões: {{inverter.dimensions}}</p>
        </div>
        <div class="col">
          <div style="width: 90%;margin: 0 auto">
            <img class="img2" src="{{inverter.image}}" alt="{{inverter.name}}">
          </div>
          <div class="btn">
            <button type="button" class="form_btn" data-toggle="modal" data-target="#myModal2">Datasheet</button>
            <!-- Modal -->
            <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2"
                 aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-body">
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    <button type="button" class="btn btn-primary">Imprimir Formulário</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr style="">
      </div>
    </div>
    <div class="container" id="container5">
      <div class="row">
        <div class="container" id="myContainer2">
          <div class="row">
            <div id="carouselExampleControls2" class="carousel slide" data-ride="carousel" data-interval="false">
              <div class="carousel-inner">
                <div class="carousel-item" id="carousel-item2"
                     *ngFor="let item of slides; let id = index; let first = first"
                     [class.active]="first">
                  <div class="row">
                    <div class="col-sm-4" *ngFor="let inv of item; let id = index">
                      <a (click)="Refresh(inv.id)">
                        <img class="img2_carousel" src="{{inv.image}}" alt="{{inv.name}}" width="100%" height="100%"></a>
                      <img class="img1_carousel" src="assets/images/inverters/inverters.svg" alt="">
                      <h5>{{inv.name}}</h5>
                      <p>{{inv.resumee}}</p>
                      <button (click)="Refresh(inv.id)"><span>+ Info</span></button>
                    </div>
                  </div>
                </div>
              </div>
              <a class="carousel-control-prev" href="#carouselExampleControls2" role="button" data-slide="prev"
                 [ngStyle]="ArrowStyle()">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleControls2" role="button" data-slide="next"
                 [ngStyle]="ArrowStyle()">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container" id="container6">
  <div class="row">
    <div class="col-5" style="margin-left: 10%;padding: 0;height: 100%">
      <h4>we are not just a supplier, we are a partner!</h4>
      <p>Increase your business with at SUNWABLE.</p>
      <p>We have more than 10 years of experience and knowledge in the development of energy solutions.We invite you
        to
        be a part of it.</p>
    </div>
    <div class="col" style="padding: 0;height: 100%">
      <button><span>become an installer</span></button>
      <img src="assets/images/container3_image.svg" alt="">
    </div>
  </div>
</div>
