/*X-Small devices (portrait phones, less than 576px)*/
/*No media query for `xs` since this is the default in Bootstrap*/

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  /*Navbar*/
  nav {
    padding-top: 1rem;
    transition: 750ms ease;
    background: #E43D30 !important;
    height: 80px;
  }

  .nv img {
    height: 50px;
    width: 150px;
  }

  .nav-link, .dropdown-item {
    text-transform: uppercase;
    color: white !important;
    text-align: left;
  }

  .dropdown-item {
    text-transform: none;
  }

  .dropdown-item:hover {
    background-color: #C83D30;
  }

  .navbar-nav {
    margin-left: auto;
    width: 55%;
  }

  .navbar-nav li {
    margin: auto;
  }

  .pt {
    color: black !important;
  }

  .nav-link .img2 {
    height: 6%;
    width: 6%;
    margin-right: 2%;
  }

  .nav-link .img1 {
    height: 13%;
    width: 13%;
    margin: 0 0 3% 2%;
  }

  .dropdown-menu {
    background-color: #E43D30;
    display: none;
    line-height: 1.5rem;
    text-align: center;
  }

  #firstdrop:hover #dropdown1, #seconddrop:hover #dropdown2 {
    display: block;
  }

  /*  container1*/
  #container1 {
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 100%;
    height: 500px;
  }

  #container1 .row {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .mapouter {
    position: relative;
    text-align: right;
    height: 100%;
    width: 100%;
    max-width: 100%;
  }

  .gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 100%;
    width: 100%;
    max-width: 100%;
  }

  #gmap_canvas {
    height: 100%;
    width: 100%;
  }

  /*  container 2*/
  #container2 {
    margin: 0;
    padding: 0;
    height: 1185px;
    background: white;
    max-width: 100%;
  }

  #container2 .row {
    margin: 10% 10% 0 10%;
    height: 100%;
  }

  #container2 .col-4 {
    padding: 0;
    height: 100%;
    color: #706F6F;
  }

  #container2 .col-8 {
    height: 100%;
    color: #706F6F;
    padding: 0 0 0 15%;
    margin-top: 2.5%;
  }

  #container2 label, #container2 p {
    font-weight: 500;
    font-size: 1rem;
    margin: 2% 0 0 0;
  }

  #container2 input, #container2 textarea {
    border: 0.2rem solid #ced4da;
  }

  #container2 h2 {
    color: #E43D30;
  }

  #container2 .escritorio h5, #container2 .horario_atendimento {
    margin: 20% 0 0 0;
  }

  #container2 .col-8 h2 {
    margin: 13% 0 0 0;
  }

  #container2 .coordenadas {
    margin: 10% 0 0 0;
  }

  #container2 p {
    margin: 0;
  }

  #container2 .p1 {
    margin-top: 10%;
  }

  #container2 span {
    text-transform: uppercase;
  }

  #container2 form {
    height: 80%;
  }

  /*  container3*/
  #container3 {
    background-color: white;
    height: 390px;
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 100%;
  }

  #container3 .row {
    padding: 0;
    margin: 0 10% 0 10%;
    height: 100%;
    width: 80%;
  }

  #container3 .col-4 {
    padding: 0;
    margin: auto;
    height: 100%;
    text-align: left;
  }

  #container3 .icons {
    padding: 0;
    margin-top: 10%;
  }

  #container3 .icons img {
    margin-right: 2%;
    width: 7%;
    height: 7%;
  }

  #container3 h6 {
    margin-bottom: 5%;
    margin-top: 30%;
    color: #E43D30;
    text-transform: uppercase;
    font-weight: bold;
  }

  #container3 p {
    color: #706F6F;
    padding: 0;
    margin: 0;
  }

  #container3 a {
    color: #706F6F;
  }

  #container3 .contact-info2 {
    margin-top: 10%;
  }

  #container3 ul {
    list-style-type: none;
    padding: 0;
  }

  #container3 li {
    padding: 0;
    margin-bottom: 5%;
    margin-left: 30%;
  }

  /*  footer*/
  #footer {
    padding: 0;
    margin: 0;
    width: 100%;
    max-width: 100%;
    height: 80px;
    background: #E43D30;
  }

  #footer .row {
    padding: 0;
    width: 80%;
    margin: 0 10%;
    height: 100%;
  }

  #footer h6 {
    color: white;
    padding: 0;
    margin: 0;
    display: inline-block;
  }

  #footer .copyright {
    width: 60%;
    margin: auto;
    padding: 0;
    height: 30%;
  }

}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
}

/*X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
}

/*XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {
}
