/*X-Small devices (portrait phones, less than 576px)*/
/*No media query for `xs` since this is the default in Bootstrap*/

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  /*  container1*/
  #container1 {
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 100%;
    height: 500px;
  }

  #container1 .row {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .mapouter {
    position: relative;
    text-align: right;
    height: 100%;
    width: 100%;
    max-width: 100%;
  }

  .gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 100%;
    width: 100%;
    max-width: 100%;
  }

  #gmap_canvas {
    height: 100%;
    width: 100%;
  }

  /*  container 2*/
  #container2 {
    margin: 0;
    padding: 0;
    height: 1185px;
    background: white;
    max-width: 100%;
  }

  #container2 .row {
    margin: 10% 10% 0 10%;
    height: 100%;
  }

  #container2 .col-4 {
    padding: 0;
    height: 100%;
    color: #706F6F;
  }

  #container2 .col-8 {
    height: 100%;
    color: #706F6F;
    padding: 0 0 0 15%;
    margin-top: 2.5%;
  }

  #container2 label, #container2 p {
    font-weight: 500;
    font-size: 1rem;
    margin: 2% 0 0 0;
  }

  #container2 input, #container2 textarea {
    border: 0.2rem solid #ced4da;
  }

  #container2 h2 {
    color: #E43D30;
  }

  #container2 .escritorio h5, #container2 .horario_atendimento {
    margin: 20% 0 0 0;
  }

  #container2 .col-8 h2 {
    margin: 13% 0 0 0;
  }

  #container2 .coordenadas {
    margin: 10% 0 0 0;
  }

  #container2 p {
    margin: 0;
  }

  #container2 .p1 {
    margin-top: 10%;
  }

  #container2 span {
    text-transform: uppercase;
  }

  #container2 form {
    height: 80%;
  }

}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
}

/*X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
}

/*XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {
}
