<div class="container-full" id="container1">
  <div class="row">
    <div class="mapouter">
      <div class="gmap_canvas">
        <iframe id="gmap_canvas"
                src="https://maps.google.com/maps?q=N306%2030%2C%204755-056%20Barcelinhos&t=&z=17&ie=UTF8&iwloc=&output=embed">
        </iframe>
      </div>
    </div>
  </div>
</div>
<div class="container-xl py-5" id="container2">
  <div class="row row-cols-1 row-cols-md-2">
    <div class="col col-md-5">
      <div class="col align-self-start text-left">
        <h2 class="pb-5">Onde estamos</h2>
        <h5 class="text-uppercase">escritório</h5>
        <p>Rua B rito limpo, nº31, 1º drt. 4750-056 Barcelinhos - BCL
          <span>portugal</span><br>geral@sunwable.com</p>
      </div>
      <div class="col pt-3 align-self-center">
        <h5>Coordenadas <span class="text-uppercase">gps</span>:</h5>
        <p>41º31'31.6"N 8º37'18.8"W</p>
      </div>
      <div class="col pt-3 align-self-end">
        <h5 class="text-uppercase">horário de atendimento</h5>
        <p [innerHTML]="shedule.text"></p>
      </div>
    </div>
    <div class="col col-md-7">
      <h2 class="pb-5">Contacte-nos</h2>
      <form>
        <div class="form-group">
          <label for="name">Nome <span>*</span></label>
          <input type="text" class="form-control form-control-lg" id="name" name="nome"
                 [(ngModel)]="EmailForm.name" required="required">
        </div>
        <div class="form-group">
          <label for="company">Empresa <span>*</span></label>
          <input type="text" class="form-control form-control-lg" id="company" name="company"
                 [(ngModel)]="EmailForm.company" required="required">
        </div>
        <div class="row">
          <div class="col">
            <label for="phone">Telefone <span>*</span></label>
            <input type="text" class="form-control form-control-lg" id="phone" name="phone"
                   [(ngModel)]="EmailForm.phone" required="required">
          </div>
          <div class="col">
            <label for="place">Concelho <span>*</span></label>
            <input type="text" class="form-control form-control-lg" id="place" name="place"
                   [(ngModel)]="EmailForm.place" required="required">
          </div>
        </div>
        <div class="form-group">
          <label for="email">Email <span>*</span></label>
          <input type="email" class="form-control form-control-lg" id="email" name="email"
                 [(ngModel)]="EmailForm.email" required>
        </div>
        <div class="form-group">
          <label for="message">Mensagem <span>*</span></label>
          <textarea class="form-control" id="message" name="mensagem" rows="8" required="required"
                    [(ngModel)]="EmailForm.message"></textarea>
        </div>
        <h6>* Campos Obrigatórios.</h6>
        <button class="btn" type="submit" (click)="SendEmail()">
          <span>enviar</span>
        </button>
      </form>
    </div>
  </div>
</div>
