.row {
  height: 100%;
}

/*---------------------------  container1  --------------------------------*/
#container1 {
  height: 350px;
}

.mapouter {
  position: relative;
  text-align: right;
  height: 100%;
  width: 100%;
  max-width: 100%;
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 100%;
  width: 100%;
  max-width: 100%;
}

#gmap_canvas {
  height: 100%;
  width: 100%;
}

/*---------------------------  container2  --------------------------------*/
#container2 {
  height: 1700px;
  background: white;
  color: #706F6F;
}

#container2 .col-md-5, #container2 .col-md-7 {
  height: 50%;
}

#container2 input, #container2 textarea {
  border: 0.2rem solid #ced4da;
}

#container2 h2 {
  color: #E43D30;
}

#container2 .btn {
  background-color: #E43D30;
  border: 0.2rem solid #E43D30;
  width: 20%;
  height: 20%;
}

#container2 .btn span {
  color: white;
}


/*---------------------------  media  --------------------------------*/

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
}

/*Medium devices (tablets)*/
@media (min-width: 768px) {

  /*---------------------------  container2  --------------------------------*/
  #container2 {
    height: 1100px;
  }


}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  /*---------------------------  container1  --------------------------------*/
  #container1 {
    height: 500px;
  }

  #container2 .col-md-5, #container2 .col-md-7 {
    height: 100%;
  }
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
}
