.navbar-brand {
  width: 55%;
}

@media (min-width: 768px) {
  .navbar-brand {
    width: 30%;
  }
}

@media (min-width: 992px) {
  .navbar-brand {
    width: 25%;
  }
}

.navbar-nav .nav-link,
.dropdown-item {
  color: white;
}
/*---------------------------  COMPONENTS  --------------------------------*/
/*---------------------------  COMPONENTS  --------------------------------*/
/*---------------------------  COMPONENTS  --------------------------------*/


/*---------------------------  NAV  --------------------------------*/
/*---------------------------  NAV  --------------------------------*/
nav {
  background-color: transparent;
  height: 90px;
}

.dropdown-item:hover {
  background-color: #C83D30;
}

.dropdown-item {
  text-transform: none;
  width: fit-content;
}

.dropdown-menu {
  background-color: #E43D30;
}

.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}

.language {
  cursor: pointer;
}

/*---------------------------  CONTAINER-LINKS  --------------------------------*/
/*---------------------------  CONTAINER-LINKS  --------------------------------*/
.container-links {
  height: 600px;
}

.social_media i {
  color: #E43D30;
  font-size: 2rem;
}

h6 {
  color: #E43D30;
}

.container-links p, .container-links a {
  color: #706F6F;
}


/*---------------------------  FOOTER  --------------------------------*/
/*---------------------------  FOOTER  --------------------------------*/
.footer {
  height: 80px;
  background-color: #E43D30;
}

.footer h6, .footer a {
  color: white;
  margin: auto;
}

/*---------------------------  MEDIA  --------------------------------*/
/*---------------------------  MEDIA  --------------------------------*/
/*---------------------------  MEDIA  --------------------------------*/
@media (max-width: 1023px) {
  #navbarNav, .dropdown-menu {
    max-width: 50%;
  }
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {

  .container-links {
    height: 400px;
  }
}

/*Medium devices (tablets)*/
@media (min-width: 768px) {
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  .dropdown-toggle::after {
    border-top: .4em solid;
    border-right: .4em solid transparent;
    border-left: .4em solid transparent;
  }
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
}
