<nav class="navbar navbar-expand-lg fixed-top" id="nav" [ngClass]="HeaderStyle()">
  <div class="container-fluid h-100">
    <a class="navbar-brand h-100" href="#">
      <img class="h-100" src="assets/images/logo.svg" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <i class="bi bi-list" style="font-size: 3rem; color: white"></i>
    </button>
    <div class="collapse navbar-collapse p-3 p-lg-0" id="navbarNavDropdown">
      <ul class="navbar-nav text-uppercase text-center ml-lg-auto" id="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/">home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="">company</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
             data-bs-toggle="dropdown" aria-expanded="false">
            products
          </a>
          <div class="dropdown-menu border-0 m-auto" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item text-uppercase text-center" routerLink="/solar_modules">Solar Modules</a>
            <a class="dropdown-item text-uppercase text-center" routerLink="/inverters">Inverters</a>
            <a class="dropdown-item text-uppercase text-center" routerLink="/batteries">Batteries</a>
            <a class="dropdown-item text-uppercase text-center" routerLink="/structures">Structures</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink2" role="button"
             data-bs-toggle="dropdown" aria-expanded="false">
            suport
          </a>
          <div class="dropdown-menu border-0 m-auto" aria-labelledby="navbarDropdownMenuLink2">
            <a class="dropdown-item text-uppercase text-center">Metódo</a>
            <a class="dropdown-item text-uppercase text-center">Instalação</a>
            <a class="dropdown-item text-uppercase text-center">Downloads</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact">contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link language" id="lg" (click)="ChangeLanguage()">{{language}}</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
<div class="container container-links">
  <div class="row row-cols-1 row-cols-sm-3">
    <div class="col pt-3 pt-sm-5">
      <div class="row row-cols-1">
        <div class="col align-self-start social_media px-md-5">
          <h6 class="text-uppercase font-weight-bold pb-md-5" translate=""></h6>
          <p>SUNWABLE <br>Solutions Unipessoal, Lda</p>
          <a class="px-1"><i class="bi-facebook"></i></a>
          <a class="px-1"><i class="bi-linkedin"></i></a>
          <a class="px-1"><i class="bi-instagram"></i></a>
        </div>
      </div>
    </div>
    <div class="col pt-3 pt-sm-5">
      <div class="row row-cols-1">
        <div class="col align-self-start px-md-5">
          <h6 class="text-uppercase font-weight-bold pb-md-5">CONTACT INFO</h6>
          <p>Rua Brito Limpo, nº 31, 1 DRT <br>4755-056 Barcelinhos - PORTUGAL</p>
          <p>Phone: +351 900 000 000 <br>Email: info@sunwable.com</p>
        </div>
      </div>
    </div>
    <div class="col pt-3 pt-sm-5">
      <div class="row row-cols-1">
        <div class="col align-self-start px-md-5">
          <h6 class="text-uppercase font-weight-bold pb-md-5">QUICK LINKS</h6>
          <ul class="px-0">
            <li class="pb-3"><a>Company</a></li>
            <li class="pb-3"><a>Terms of Use</a></li>
            <li class="pb-3"><a>Disclaimers</a></li>
            <li><a routerLink="/contact">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid footer">
  <div class="row copyright d-flex justify-content-center">
    <h6 class="text-center">Copyright ©2020 All rights reserved | by <a href="http://www.paleta3.com/">Paleta3</a></h6>
  </div>
</div>
