/*---------------------------  global  --------------------------------*/
.row {
  height: 100%;
}

/*---------------------------  navbar  --------------------------------*/
nav {
  padding-top: 1rem;
  transition: 1000ms ease;
  background: transparent;
  height: 90px;
}

nav a {
  text-transform: uppercase;
  color: white;
  text-align: center;
}

#navbar-nav li {
  margin: auto;
}

#navbarNav, .dropdown-menu {
  max-width: 50%;
}

.dropdown-item:hover {
  background-color: #C83D30;
}

.dropdown-item {
  text-transform: none;
  width: fit-content;
}

.dropdown-menu {
  background-color: #E43D30;
}

.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}

/*---------------------------  container2  --------------------------------*/
#container2 {
  height: 600px;
}

.social_media i {
  color: #E43D30;
  font-size: 2rem;
}

#container2 h6 {
  color: #E43D30;
}

#container2 p, #container2 a {
  color: #706F6F;
}

/*---------------------------  footer  --------------------------------*/
#footer {
  height: 80px;
  background-color: #E43D30;
}

#footer h6, #footer a {
  color: white;
  margin: auto;
}

/*---------------------------  media  --------------------------------*/
/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {

  #container2 {
    height: 400px;
  }
}

/*Medium devices (tablets)*/
@media (min-width: 768px) {
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
}
