@media (min-width: 768px) {
  /*Navbar*/
  nav {
    padding-top: 1rem;
    transition: 1000ms ease;
    background: transparent;
  }

  .nv img {
    height: 50px;
    width: 150px;
  }

  .nav-link, .dropdown-item {
    text-transform: uppercase;
    color: white;
    text-align: left;
  }

  #company {
    color: white;
  }

  .dropdown-item:hover {
    background-color: #C83D30;
  }

  .dropdown-item {
    text-transform: none;
  }

  .navbar-nav {
    margin-left: auto;
    width: 55%;
  }

  .navbar-nav li {
    margin: auto;
    color: white;
  }

  .nav-link .img2 {
    height: 6%;
    width: 6%;
    margin-right: 2%;
  }

  .nav-link .img1 {
    height: 13%;
    width: 13%;
    margin: 0 0 3% 2%;
  }

  .dropdown-menu {
    background-color: #E43D30;
    display: none;
    line-height: 1.5rem;
    text-align: center;
  }

  #firstdrop:hover #dropdown1, #seconddrop:hover #dropdown2 {
    display: block;
  }

  /*  container2*/
  #container2 {
    background-color: white;
    height: 390px;
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 100%;
  }

  #container2 .row {
    padding: 0;
    margin: 0 10% 0 10%;
    height: 100%;
    width: 80%;
  }

  #container2 .col-4 {
    padding: 0;
    margin: auto;
    height: 100%;
    text-align: left;
  }

  #container2 .icons {
    padding: 0;
    margin-top: 10%;
  }

  #container2 .icons img {
    margin-right: 2%;
    width: 7%;
    height: 7%;
  }

  #container2 h6 {
    margin-bottom: 5%;
    margin-top: 30%;
    color: #E43D30;
    text-transform: uppercase;
    font-weight: bold;
  }

  #container2 p {
    color: #706F6F;
    padding: 0;
    margin: 0;
  }

  #container2 a {
    color: #706F6F;
  }

  #container2 .contact-info2 {
    margin-top: 10%;
  }

  #container2 ul {
    list-style-type: none;
    padding: 0;
  }

  #container2 li {
    padding: 0;
    margin-bottom: 5%;
    margin-left: 30%;
  }

  /*  footer*/
  #footer {
    padding: 0;
    margin: 0;
    width: 100%;
    max-width: 100%;
    height: 80px;
    background: #E43D30;
  }

  #footer .row {
    padding: 0;
    width: 80%;
    margin: 0 10%;
    height: 100%;
  }

  #footer h6 {
    color: white;
    padding: 0;
    margin: 0;
    display: inline-block;
  }

  #footer .copyright {
    width: 60%;
    margin: auto;
    padding: 0;
    height: 30%;
  }
}
