/*X-Small devices (portrait phones, less than 576px)*/
/*No media query for `xs` since this is the default in Bootstrap*/

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  /*  container1*/
  #container1 {
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 100%;
    height: 500px;
    background: #E43D30;
  }

  #container1 .row {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
  }

  #container1 .row img {
    height: 30%;
    width: 30%;
    padding: 0;
    margin: 10% auto 0 auto;
  }

  #container1 .name_product {
    width: 100%;
    height: 15%;
    padding: 0;
    margin-top: auto;
    text-align: center;
  }

  #container1 .row h1 {
    width: 50%;
    height: 100%;
    font-size: 4rem;
    margin: 0.8% auto 0 auto;
    color: white;
    text-transform: uppercase;
  }

  /*  container 2*/
  #container2 {
    margin: 0;
    padding: 0;
    height: 400px;
    background: white;
    max-width: 100%;
  }

  #container2 .row {
    margin: 0 5%;
    max-width: 100%;
    height: 100%;
    padding-bottom: 5%;
  }

  #container2 .col-4 {
    height: 100%;
    padding-top: 5%;
  }

  #container2 .row .col-4 .img1 {
    width: 10%;
    padding: 0;
    margin: 0;
  }

  #container2 .row .col-4 .img2 {
    float: right;
    width: 45%;
    height: 100%;
    margin: -5% 5% 0 0;
  }

  #container2 .row .col-4 h5 {
    width: 25%;
    height: 10%;
    padding: 0;
    margin: 3% 0 0 0;
    text-transform: uppercase;
    color: #E43D30;
  }

  #container2 .row .col-4 p {
    text-align: left;
    width: 40%;
    height: 30%;
    padding: 0;
    margin: 0;
  }

  #container2 .row .col-4 button {
    width: 20%;
    height: 15%;
    padding: 0;
    margin: 15% 0 0 0;
    background: #E43D30;
    border: 0 solid white;
  }

  #container2 .row .col-4 button span {
    color: white;
  }


  /*  container3*/
  #container3 {
    margin: 0;
    padding: 0;
    height: 450px;
    background: #E43D30;
    max-width: 100%;
  }

  #container3 .row {
    height: 100%;
    width: 100%;
    color: white;
    text-align: left;
  }

  #container3 .col-6 {
    margin: 0;
    padding: 0;
    height: 100%;
  }

  #container3 h4 {
    width: 70%;
    height: 20%;
    margin-top: 20%;
    font-size: 2rem;
  }

  #container3 p {
    width: 78%;
    margin-bottom: 0;
    font-size: 1.1rem;
  }

  #container3 span {
    background-color: transparent;
    font-size: 1.15rem;
    color: white;
    padding: 0;
  }

  #container3 button {
    float: right;
    height: 15%;
    margin: 25% 0 50% 30%;
    background-color: transparent;
    border: 0.2rem solid white;
    width: 25%;
    position: absolute;
  }

  #container3 img {
    height: 100%;
    float: right;
    width: auto;
  }

}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
}

/*X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
}

/*XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {
}
