<nav class="navbar fixed-top sticky-top navbar-expand-lg">
  <div class="container-fluid">
    <a class="nv" routerLink="">
      <img src="assets/images/logo.svg" alt="">
    </a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a routerLink="" class="nav-link active">home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">company</a>
        </li>
        <li class="nav-item dropdown" id="firstdrop">
          <a class="nav-link" href="#" id="navbarDropdownMenuLink" role="button"
             data-bs-toggle="dropdown" aria-expanded="false">
            products
            <img class="img1" src="assets/arrows/dropdown_arrow_down.png" alt="menu">
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2" id="dropdown1">
            <li><a routerLink="/solar_modules" class="dropdown-item">Solar Modules</a></li>
            <li><a routerLink="/inverters" class="dropdown-item">Inverters</a></li>
            <li><a routerLink="/batteries" class="dropdown-item">Batteries</a></li>
            <li><a routerLink="/structures" class="dropdown-item">Structures</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown" id="seconddrop">
          <a class="nav-link" href="#" id="navbarDropdownMenuLink2" role="button"
             data-bs-toggle="dropdown" aria-expanded="false">
            suporte
            <img class="img1" src="assets/arrows/dropdown_arrow_down.png" alt="menu">
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2" id="dropdown2">
            <li><a class="dropdown-item">Metódo</a></li>
            <li><a class="dropdown-item">Instalação</a></li>
            <li><a class="dropdown-item">Downloads</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a routerLink="/contact" class="nav-link">contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link pt">pt</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container" id="container1">
  <div class="row">
    <img src="assets/images/solar%20modules/SolarModules.svg" alt="Solar Modules">
    <div class="name_product"><h1>Solar Modules</h1></div>
  </div>
</div>
<div class="container" id="container2">
  <div class="container" id="container2.1">
    <div class="row">
      <div class="col-4" id="col1">
        <img class="img2" src="assets/images/solar%20modules/solar_exemplo.svg" alt="">
        <img class="img1" src="assets/images/solar%20modules/solarmodules2.svg" alt="">
        <h5>Mercury</h5>
        <p>Módulo fotovoltaicode policristalino 60 células.</p>
        <button routerLink="/product_detail"><span>+ Info</span></button>
      </div>
      <div class="col-4" id="col2">
        <img class="img2" src="assets/images/solar%20modules/solar_exemplo.svg" alt="">
        <img class="img1" src="assets/images/solar%20modules/solarmodules2.svg" alt="">
        <h5>Mercury</h5>
        <p>Módulo fotovoltaicode policristalino 60 células.</p>
        <button><span>+ Info</span></button>
      </div>
      <div class="col-4" id="col3">
        <img class="img2" src="assets/images/solar%20modules/solar_exemplo.svg" alt="">
        <img class="img1" src="assets/images/solar%20modules/solarmodules2.svg" alt="">
        <h5>Mercury</h5>
        <p>Módulo fotovoltaicode policristalino 60 células..</p>
        <button><span>+ Info</span></button>
      </div>
      <div class="w-100"></div>
      <div class="col-4" id="col4">
        <img class="img2" src="assets/images/solar%20modules/solar_exemplo.svg" alt="">
        <img class="img1" src="assets/images/solar%20modules/solarmodules2.svg" alt="">
        <h5>Mercury</h5>
        <p>Módulo fotovoltaicode policristalino 60 células.</p>
        <button><span>+ Info</span></button>
      </div>
      <div class="col-4" id="col5">
        <img class="img2" src="assets/images/solar%20modules/solar_exemplo.svg" alt="">
        <img class="img1" src="assets/images/solar%20modules/solarmodules2.svg" alt="">
        <h5>Mercury</h5>
        <p>Módulo fotovoltaicode policristalino 60 células.</p>
        <button><span>+ Info</span></button>
      </div>
      <div class="col-4" id="col6">
        <img class="img2" src="assets/images/solar%20modules/solar_exemplo.svg" alt="">
        <img class="img1" src="assets/images/solar%20modules/solarmodules2.svg" alt="">
        <h5>Mercury</h5>
        <p>Módulo fotovoltaicode policristalino 60 células.</p>
        <button><span>+ Info</span></button>
      </div>
      <div class="w-100"></div>
      <div class="col-4" id="col7">
        <img class="img2" src="assets/images/solar%20modules/solar_exemplo.svg" alt="">
        <img class="img1" src="assets/images/solar%20modules/solarmodules2.svg" alt="">
        <h5>Mercury</h5>
        <p>Módulo fotovoltaicode policristalino 60 células.</p>
        <button><span>+ Info</span></button>
      </div>
      <div class="col-4" id="col8">
        <img class="img2" src="assets/images/solar%20modules/solar_exemplo.svg" alt="">
        <img class="img1" src="assets/images/solar%20modules/solarmodules2.svg" alt="">
        <h5>Mercury</h5>
        <p>Módulo fotovoltaicode policristalino 60 células.</p>
        <button><span>+ Info</span></button>
      </div>
      <div class="col-4" id="col9">
        <img class="img2" src="assets/images/solar%20modules/solar_exemplo.svg" alt="">
        <img class="img1" src="assets/images/solar%20modules/solarmodules2.svg" alt="">
        <h5>Mercury</h5>
        <p>Módulo fotovoltaicode policristalino 60 células.</p>
        <button><span>+ Info</span></button>
      </div>
    </div>
  </div>
</div>
<div class="container" id="container3">
  <div class="row">
    <div class="col-5" style="margin-left: 10%;padding: 0;height: 100%">
      <h4>we are not just a supplier, we are a partner!</h4>
      <p>Increase your business with at SUNWABLE.</p>
      <p>We have more than 10 years of experience and knowledge in the development of energy solutions.We invite you to
        be a part of it.</p>
    </div>
    <div class="col" style="padding: 0;height: 100%">
      <button><span>become an installer</span></button>
      <img src="assets/images/container3_image.svg" alt="">
    </div>
  </div>
</div>
<div class="container" id="container4">
  <div class="row">
    <div class="col-4">
      <h6>company</h6>
      <p>SUNWABLE</p>
      <p>Solutions Unipessoal, Lda</p>
      <div class="icons">
        <a><img src="assets/images/icons/social/social_facebook.svg" alt=""></a>
        <a><img src="assets/images/icons/social/social_in.svg" alt=""></a>
        <a><img src="assets/images/icons/social/social_instagram.svg" alt=""></a>
      </div>
    </div>
    <div class="col-4">
      <h6 style="margin-left: 10%">CONTACT INFO</h6>
      <p style="margin-left: 10%">Rua Brito Limpo, nº 31, 1 DRT</p>
      <p style="margin-left: 10%">4755-056 Barcelinhos - PORTUGAL</p>
      <div class="contact-info2">
        <p style="margin-left: 10%">Phone: +351 900 000 000</p>
        <p style="margin-left: 10%">Email: info@sunwable.com</p>
      </div>
    </div>
    <div class="col-4">
      <h6 style="margin-left: 30%">QUICK LINKS</h6>
      <ul>
        <li><a>Company</a></li>
        <li><a>Terms of Use</a></li>
        <li><a>Disclaimers</a></li>
        <li><a>Contact</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="container" id="footer">
  <div class="row">
    <div class="copyright">
      <h6 style="margin-left: 23%">Copyright ©2020 All rights reserved | by </h6>
      <h6 style="margin-left: 1%">Paleta3</h6>
    </div>
  </div>
</div>
