<div class="container-fluid" id="container1">
  <div class="row row-cols-1">
    <div class="col align-self-start" style="height: 80px"></div>
    <div class="col d-flex justify-content-center align-self-center">
      <img class="m-auto" src="assets/images/solar%20modules/solarModules.svg" alt="" width="50%"
           height="auto">
    </div>
    <div class="col align-self-end">
      <h1 class="text-white text-uppercase text-center mb-n2 mb-lg-n3">solar modules</h1>
    </div>
  </div>
</div>
<div class="container-xl" id="container2">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3">
    <div class="col pt-3 h-auto" *ngFor="let sm of solarModules">
      <div class="row row-cols-2">
        <div class="col col-left float-left">
          <div class="row row-cols-1">
            <div class="col">
              <img class="img1" src="assets/images/solar%20modules/solarModules2.svg" alt=""
                   width="30%" height="15%">
              <h6>{{sm.name}}</h6>
              <p>{{sm.resume}}</p>
            </div>
            <div class="col">
              <button routerLink="/product_detail" [state]="{data: {data1: sm.id, data2: 'solarModules'}}">
                <span>+ Info</span></button>
            </div>
          </div>
        </div>
        <div class="col col-right float-right">
          <img class="img-fluid" style="cursor: pointer" src="{{sm.image}}"
               alt="{{sm.name}}" routerLink="/product_detail"
               [state]="{data: {data1: sm.id, data2: 'solarModules'}}">
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-full" id="container3-full">
  <div class="container-xl h-100" id="container3">
    <div class="row row-cols-2 text-white">
      <div class="col h-100 d-flex">
        <div class="text m-auto text-left">
          <h3>we are not just a supplier,<br> we are a partner!</h3>
          <p class="d-none d-md-block">Increase your business with at SUNWABLE.<br>We have more than 10 years of
            experience and knowledge in the
            development of energy solutions.We invite you to be a part of it.</p>
        </div>
      </div>
      <div class="col h-100 d-flex justify-content-center">
        <button class="btn m-auto position-absolute bg-transparent">
          <span class="font-weight-bold bg-transparent text-white">become an installer</span></button>
      </div>
    </div>
  </div>
</div>
