<div class="container" id="container1">
  <div class="row">
    <img src="assets/images/inverters/inverters.svg" alt="Solar Modules">
    <div class="name_product"><h1>inverters</h1></div>
  </div>
</div>
<div class="container" id="container2">
  <div class="row">
  </div>
  <div class="container" id="container2.1">
    <div class="row">
      <div class="col-4" id="col1">
        <img class="img2" src="assets/images/inverters/inverter_exemplo1.svg" alt="">
        <img class="img1" src="assets/images/inverters/inverters_2.svg" alt="">
        <h5>solax x1</h5>
        <p>Inversor Solax</p>
        <p>X1 mini 1.1 SD</p>
        <button><span>+ Info</span></button>
      </div>
      <div class="col-4" id="col2">
        <img class="img2" src="assets/images/inverters/inverter_exemplo2.svg" alt="">
        <img class="img1" src="assets/images/inverters/inverters_2.svg" alt="">
        <h5>solax x1</h5>
        <p>Inversor Solax</p>
        <p>X1 mini 1.1 SD</p>
        <button><span>+ Info</span></button>
      </div>
      <div class="col-4" id="col3">
        <img class="img2" src="assets/images/inverters/inverter_exemplo2.svg" alt="">
        <img class="img1" src="assets/images/inverters/inverters_2.svg" alt="">
        <h5>solax x1</h5>
        <p>Inversor Solax</p>
        <p>X1 mini 1.1 SD</p>
        <button><span>+ Info</span></button>
      </div>
      <div class="w-100"></div>
      <div class="col-4" id="col4">
        <img class="img2" src="assets/images/inverters/inverter_exemplo2.svg" alt="">
        <img class="img1" src="assets/images/inverters/inverters_2.svg" alt="">
        <h5>solax x1</h5>
        <p>Inversor Solax</p>
        <p>X1 mini 1.1 SD</p>
        <button><span>+ Info</span></button>
      </div>
      <div class="col-4" id="col5">
        <img class="img2" src="assets/images/inverters/inverter_exemplo2.svg" alt="">
        <img class="img1" src="assets/images/inverters/inverters_2.svg" alt="">
        <h5>solax x1</h5>
        <p>Inversor Solax</p>
        <p>X1 mini 1.1 SD</p>
        <button><span>+ Info</span></button>
      </div>
      <div class="col-4" id="col6">
        <img class="img2" src="assets/images/inverters/inverter_exemplo2.svg" alt="">
        <img class="img1" src="assets/images/inverters/inverters_2.svg" alt="">
        <h5>solax x1</h5>
        <p>Inversor Solax</p>
        <p>X1 mini 1.1 SD</p>
        <button><span>+ Info</span></button>
      </div>
      <div class="w-100"></div>
      <div class="col-4" id="col7">
        <img class="img2" src="assets/images/inverters/inverter_exemplo2.svg" alt="">
        <img class="img1" src="assets/images/inverters/inverters_2.svg" alt="">
        <h5>solax x1</h5>
        <p>Inversor Solax</p>
        <p>X1 mini 1.1 SD</p>
        <button><span>+ Info</span></button>
      </div>
      <div class="col-4" id="col8">
        <img class="img2" src="assets/images/inverters/inverter_exemplo2.svg" alt="">
        <img class="img1" src="assets/images/inverters/inverters_2.svg" alt="">
        <h5>solax x1</h5>
        <p>Inversor Solax</p>
        <p>X1 mini 1.1 SD</p>
        <button><span>+ Info</span></button>
      </div>
      <div class="col-4" id="col9">
        <img class="img2" src="assets/images/inverters/inverter_exemplo2.svg" alt="">
        <img class="img1" src="assets/images/inverters/inverters_2.svg" alt="">
        <h5>solax x1</h5>
        <p>Inversor Solax</p>
        <p>X1 mini 1.1 SD</p>
        <button><span>+ Info</span></button>
      </div>
    </div>
  </div>
</div>
<div class="container" id="container3">
  <div class="row">
    <div class="col-5" style="margin-left: 10%;padding: 0;height: 100%">
      <h4>we are not just a supplier, we are a partner!</h4>
      <p>Increase your business with at SUNWABLE.</p>
      <p>We have more than 10 years of experience and knowledge in the development of energy solutions.We invite you to
        be a part of it.</p>
    </div>
    <div class="col" style="padding: 0;height: 100%">
      <button><span>become an installer</span></button>
      <img src="assets/images/container3_image.svg" alt="">
    </div>
  </div>
</div>
