<div class="container" id="container1">
  <div class="row">
    <img src="assets/images/inverters/inverters2.svg" alt="Solar Modules">
    <div class="name_product"><h1>inverters</h1></div>
  </div>
</div>
<div class="container" id="container2" [ngStyle]="ChangeHeighContainer()">
  <div class="row">
    <div class="col-4" id="product" *ngFor="let inv of inverters" [ngStyle]="ChangeHeighProduct()">
      <a routerLink="/product_detail"
              [state]="{data: {data1: inv.id, data2: 'inverters'}}">
        <img class="img2" src="{{inv.imagem}}" alt="{{inv.nome}}"></a>
      <img class="img1" src="assets/images/inverters/inverters.svg" alt="">
      <h5>{{inv.nome}}</h5>
      <p>{{inv.resumo}}</p>
      <button routerLink="/product_detail"
              [state]="{data: {data1: inv.id, data2: 'inverters'}}"><span>+ Info</span>
      </button>
    </div>
  </div>
</div>
<div class="container" id="container3">
  <div class="row">
    <div class="col-5" style="margin-left: 10%;padding: 0;height: 100%">
      <h4>we are not just a supplier, we are a partner!</h4>
      <p>Increase your business with at SUNWABLE.</p>
      <p>We have more than 10 years of experience and knowledge in the development of energy solutions.We invite you to
        be a part of it.</p>
    </div>
    <div class="col" style="padding: 0;height: 100%">
      <button><span>become an installer</span></button>
      <img src="assets/images/container3_image.svg" alt="">
    </div>
  </div>
</div>
