/* You can add global styles to this file, and also import other style files */
/*---------------------------  global  --------------------------------*/
body.modal-open {
  padding-right: 0 !important;
}

nav {
  padding-right: 0 !important;
}

.modal-open {
  overflow: inherit;
}

.row {
  height: 100%;
  margin: 0;
}

/*---------------------------  media  --------------------------------*/
@media (min-width: 768px) and (max-width: 992px) {
  html {
    font-size: 12px !important;
  }
}
