/* You can add global styles to this file, and also import other style files */
@import "assets/plugins/joaofreitas-0.1.0/config.css";
@import "~bootstrap-icons/font/bootstrap-icons.css";

/*---------------------------  GLOBAL  --------------------------------*/
/*---------------------------  GLOBAL  --------------------------------*/
/*---------------------------  GLOBAL  --------------------------------*/

html {
  background-color: white;
}

.row {
  height: 100%;
}

h4:first-letter, p:first-letter {
  text-transform: uppercase;
}

.margintop-90 {
  margin-top: 90px;
}

ul {
  list-style-type: none;
}

/*---------------------------  MEDIA  --------------------------------*/
/*---------------------------  MEDIA  --------------------------------*/
/*---------------------------  MEDIA  --------------------------------*/
/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
}
