#container {
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 5% 0;
}

#container .row {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: auto;
  text-align: center;
}

#container .row h1 {
  margin: auto;
}
