/*---------------------------  global  --------------------------------*/
h4:first-letter, p:first-letter {
  text-transform: uppercase;
}

.text {
  height: fit-content;
}

.row {
  height: 100%;
}

.col {
  height: 33%;
}

/*---------------------------  carousel  --------------------------------*/
.carousel-item {
  height: 500px;
}

.carousel-control-prev-icon {
  background-image: url("../../assets/arrows/arrow_left.png");
  width: 20px;
  height: 40px;
}

.carousel-control-next-icon {
  background-image: url("../../assets/arrows/arrow_right.png");
  width: 20px;
  height: 40px;
}

/*---------------------------  container1  --------------------------------*/
#container1-full {
  height: 700px;
  background: linear-gradient(to bottom, rgba(225, 225, 255, 0) 25%, rgba(225, 225, 224, 0.25) 50%,
  rgba(225, 224, 224, 0.5) 75%, rgba(224, 224, 224, 0.75) 100%);
  color: #E43D30;
}

#container1 .col p {
  color: #706F6F;
}

/*---------------------------  container2  --------------------------------*/
#container2-full {
  height: 1050px;
  background: linear-gradient(to bottom, rgba(225, 225, 255, 0) 25%, rgba(225, 225, 224, 0) 50%,
  rgba(225, 224, 224, 0.25) 75%, rgba(224, 224, 224, 0.50) 100%);
  color: #706F6F;
}

#container2-1 h5 {
  color: #E43D30;
}

#col1, #col2, #col3, #col4 {
  background-color: #f4f4f4;
  height: 24%;
  margin: auto;
}

#container2 .col-img {
  height: 25%;
}

#container2 .col-container {
  height: 100%;
}

/*---------------------------  container3  --------------------------------*/
#container3-full {
  height: 350px;
  background: url("../../assets/images/container3_image.svg") right no-repeat, #E43D30;
}

#container3 .btn {
  width: 45%;
  height: 30%;
  border: 0.2rem solid white;
  top: 35%;
}

/*---------------------------  container4  --------------------------------*/
#container4 {
  height: 700px;
  color: #706F6F;
}

/*---------------------------  container5  --------------------------------*/
#container5-full {
  height: 200px;
  background: #F6F6F6;
}

#container5 span {
  color: #E43D30;
}

#container5 button {
  border: 0.2rem solid #E43D30;
  width: 40%;
  height: 20%;
  top: 40%;
}

/*---------------------------  media  --------------------------------*/
/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
  /*---------------------------  global  --------------------------------*/
  #container1 .col, #container4 .h-85 .col {
    height: 100%;
  }

  #container1-full, #container4 {
    height: 300px;
  }

  /*---------------------------  container2  --------------------------------*/
  #container2-full {
    height: 700px;
  }

  #col1, #col2, #col3, #col4 {
    max-width: 49%;
    height: 49%;
  }

  #container3 .btn {
    width: auto;
    height: auto;
    top: 45%;
  }

  /*---------------------------  container5  --------------------------------*/
  #container5-full {
    height: 300px;
  }
}

/*Medium devices (tablets)*/
@media (min-width: 768px) {
  /*---------------------------  carousel  --------------------------------*/
  .carousel-item {
    height: 600px;
  }

  /*---------------------------  container2  --------------------------------*/
  #container2-full {
    height: 1050px;
  }

  #container2 .col-container {
    height: 70%;
  }

  /*---------------------------  container4  --------------------------------*/
  #container4 span {
    font-size: 2rem;
  }

}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  /*---------------------------  global  --------------------------------*/
  #container1-full, #container4 {
    height: 435px;
  }

  /*---------------------------  carousel  --------------------------------*/
  .carousel-item {
    height: 736px;
  }

  /*---------------------------  container2  --------------------------------*/
  #container2-full {
    height: 750px;
  }

  #container2 .col-img, #container2 .col-container {
    height: 100%;
  }

  /*---------------------------  container3  --------------------------------*/
  #container3-full {
    height: 450px;
  }

  /*---------------------------  container5  --------------------------------*/
  #container5-full {
    height: 300px;
  }
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
}

