<div class="container-full" id="carousel">
  <div id="carouselControls" class="carousel slide carousel-fade" data-ride="carousel"
       data-interval="3500" data-keyboard="false" data-pause="false">
    <div class="carousel-inner text-center">
      <div class="carousel-item" *ngFor="let carousel of carousel; let first = first"
           [class.active]="first" [ngStyle]="{'background': 'linear-gradient(to bottom, rgba(0, 0, 0, 0.9) 10%, rgba(0, 0, 0, 0.70) 40%,\n'+
'rgba(0, 0, 0, 0.50) 60%, rgba(0, 0, 0, 0.30) 80%, rgba(0, 0, 0, 0) 100%), url(' + carousel.image + ') no-repeat center center', 'background-size': 'cover'}">
        <div class="d-flex h-100 align-items-center justify-content-center text-white">
          <div style="width: 80%;margin: auto">
            <h3 class="text-uppercase">{{carousel.imageTitle}}</h3>
            <p class="text-uppercase">{{carousel.imageCaption}}</p>
          </div>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev w-10" href="#carouselControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next w-10" href="#carouselControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
<div class="container-full text-center" id="container1-full">
  <div class="container-lg h-100" id="container1">
    <div class="row row-cols-1 row-cols-sm-3">
      <div class="col pt-3 py-sm-5">
        <div class="row row-cols-1">
          <div class="col col-top">
            <img src="{{apresentation.missionImage}}" alt="" height="100%" width="auto">
          </div>
          <div class="col col-bottom">
            <h3>mission</h3>
            <p>{{apresentation.mission}}</p>
          </div>
        </div>
      </div>
      <div class="col pt-3 py-sm-5">
        <div class="row row-cols-1">
          <div class="col col-top">
            <img src="{{apresentation.focusImage}}" alt="" width="auto" height="100%">
          </div>
          <div class="col col-bottom">
            <h3>focus</h3>
            <p>{{apresentation.focus}}</p>
          </div>
        </div>
      </div>
      <div class="col pt-3 py-sm-5">
        <div class="row row-cols-1">
          <div class="col col-top">
            <img src="{{apresentation.whyUsImage}}" alt="" width="auto" height="100%">
          </div>
          <div class="col col-bottom">
            <h3>why Us</h3>
            <p>{{apresentation.whyUs}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-full" id="container2-full">
  <div class="container-lg h-100" id="container2">
    <div class="row row-cols-1">
      <div class="col h-15 d-flex justify-content-center">
        <h3 class="text-uppercase m-auto">photovoltaic high performance modules</h3>
      </div>
      <div class="col h-85 text-left pb-3">
        <div class="row row-cols-1 row-cols-lg-2">
          <div class="col col-img col-lg-4 d-none d-md-block">
            <img src="{{characteristic.image}}" alt="" width="100%" height="100%">
          </div>
          <div class="col col-container col-lg-8">
            <div class="row row-cols-1 row-cols-sm-2" id="container2-1">
              <div class="col w-auto" id="col1">
                <div class="row row-cols-1">
                  <div class="col h-20">
                    <img class="pt-1" src="{{characteristic.panelImage}}" alt="" width="auto" height="100%">
                  </div>
                  <div class="col h-80">
                    <h5 class="h-25">Polycrystalline and Monocrystalline cells</h5>
                    <p>{{characteristic.panel}}</p>
                  </div>
                </div>
              </div>
              <div class="col w-auto" id="col2">
                <div class="row row-cols-1">
                  <div class="col h-20">
                    <img class="pt-1" src="{{characteristic.chargeImage}}" alt="" width="auto" height="100%">
                  </div>
                  <div class="col h-80">
                    <h5 class="h-25">PV High-performance</h5>
                    <p>{{characteristic.charge}}</p>
                  </div>
                </div>
              </div>
              <div class="col w-auto" id="col3">
                <div class="row row-cols-1">
                  <div class="col h-20">
                    <img class="pt-1" src="{{characteristic.selectionImage}}" alt="" width="auto" height="100%">
                  </div>
                  <div class="col h-80">
                    <h5 class="h-25">Green Energy</h5>
                    <p>{{characteristic.selection}}</p>
                  </div>
                </div>
              </div>
              <div class="col w-auto" id="col4">
                <div class="row row-cols-1">
                  <div class="col h-20">
                    <img class="pt-1" src="{{characteristic.warrantyImage}}" alt="" width="auto" height="100%">
                  </div>
                  <div class="col h-80">
                    <h5 class="h-25">25 years linear performance guarantee</h5>
                    <p>{{characteristic.warranty}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-full" id="container3-full">
  <div class="container-lg h-100" id="container3">
    <div class="row row-cols-2 text-white">
      <div class="col h-100 d-flex">
        <div class="text m-auto text-left">
          <h3>we are not just a supplier,<br> we are a partner!</h3>
          <p class="d-none d-md-block">Increase your business with at SUNWABLE.<br>We have more than 10 years of
            experience and knowledge in the
            development of energy solutions.We invite you to be a part of it.</p>
        </div>
      </div>
      <div class="col h-100 d-flex justify-content-center">
        <button class="btn m-auto position-absolute bg-transparent">
          <span class="font-weight-bold bg-transparent text-white">become an installer</span></button>
      </div>
    </div>
  </div>
</div>
<div class="container-lg" id="container4">
  <div class="row row-cols-1 text-center">
    <div class="col h-15 d-flex justify-content-center">
      <h1 class="text-uppercase m-auto">our numbers</h1>
    </div>
    <div class="col h-85">
      <div class="row row-cols-1 row-cols-sm-3">
        <div class="col pt-3 pt-sm-5">
          <div class="row row-cols-1">
            <div class="col col-top">
              <img src="{{ourNumbers.wattsImage}}" alt="" width="auto" height="100%">
            </div>
            <div class="col col-bottom">
              <h3 [countUp]="ourNumbers.watts" [options]="options2"></h3>
              <p>installed watts</p>
            </div>
          </div>
        </div>
        <div class="col pt-3 pt-sm-5">
          <div class="row row-cols-1">
            <div class="col col-top">
              <img src="{{ourNumbers.projectsImage}}" alt="" width="auto" height="100%">
            </div>
            <div class="col col-bottom">
              <h3 [countUp]="ourNumbers.projects" [options]="options"></h3>
              <p>completed projects</p>
            </div>
          </div>
        </div>
        <div class="col pt-3 pt-sm-5">
          <div class="row row-cols-1">
            <div class="col col-top">
              <img src="{{ourNumbers.clientsImage}}" alt="" width="auto" height="100%">
            </div>
            <div class="col col-bottom">
              <h3><span [countUp]="ourNumbers.clients"
                        [options]="options"></span> %</h3>
              <p>satisfied customers</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-full" id="container5-full">
  <div class="container-lg h-100" id="container5">
    <div class="row row-cols-2 text-left">
      <div class="col h-100 d-flex justify-content-center">
        <div class="text-left m-auto text">
          <h2>Get in touch!</h2>
          <p class="d-none d-md-block">For further information or any other contact please send us a email.</p>
        </div>
      </div>
      <div class="col h-100 d-flex justify-content-center">
        <button class="btn m-auto position-absolute bg-transparent" routerLink="/contact">
          <span class="font-weight-bold bg-transparent">send</span></button>
        <img class="float-right" src="assets/images/container5_icon.svg" alt="" width="100%" height="100%">
      </div>
    </div>
  </div>
</div>
