/*---------------------------  global  --------------------------------*/
.row {
  padding: 0;
  height: 100%;
}

.icon {
  height: 50%;
}

p {
  padding: 0;
  min-height: 5%;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  min-height: 5%;
}

h4:first-letter, p:first-letter {
  text-transform: uppercase;
}

/*---------------------------  carousel  --------------------------------*/
.carousel-item span {
  height: 736px;
}

.carousel-control-prev-icon {
  background-image: url("../../assets/arrows/arrow_left.png");
  width: 20px;
  height: 40px;
}

.carousel-control-next-icon {
  background-image: url("../../assets/arrows/arrow_right.png");
  width: 20px;
  height: 40px;
}

h4:first-letter, p:first-letter {
  text-transform: uppercase;
}

.carousel-control-next, .carousel-control-prev {
  width: 10%;
}

.carousel-caption {
  text-transform: uppercase;
  bottom: 35%;
  width: 40%;
  left: 30%;
}

.carousel-caption h5 {
  font-size: 2.5rem;
}

.carousel-caption p {
  font-size: 1.25rem;
}

/*---------------------------  container1  --------------------------------*/
#container1 {
  padding: 0;
  height: 435px;
  background: linear-gradient(to bottom, rgba(225, 225, 255, 0) 25%, rgba(225, 225, 224, 0.25) 50%,
  rgba(225, 224, 224, 0.5) 75%, rgba(224, 224, 224, 0.75) 100%);
}

#container1_in {
  height: 100%;
}

#container1 .col-sm {
  margin: auto;
  height: 70%;
  text-align: center;
  color: #E43D30;
}

#container1 .col-sm p {
  color: #706F6F;
  min-height: 5%;
  max-height: 20%;
  height: fit-content;
}

#container1 .col-sm img {
  padding-bottom: 5%;
  padding-top: 5%;
}

/*---------------------------  container2  --------------------------------*/
#container2 {
  padding: 0;
  height: 750px;
  background: linear-gradient(to bottom, rgba(225, 225, 255, 0) 25%, rgba(225, 225, 224, 0) 50%,
  rgba(225, 224, 224, 0.25) 75%, rgba(224, 224, 224, 0.50) 100%);
  max-width: 100%;
}

#container2 .row {
  margin: 0 5%;
  text-align: center;
}

#container2 .col-bottom {
  height: 80%;
  margin-bottom: 5%;
  padding: 0;
}

#container2 .col-top {
  height: 15%;
  padding: 0;
}

#container2 .col-4, #container2 .col-8 {
  padding: 0;
  height: 100%;
}

#container2 h1 {
  text-transform: uppercase;
  color: #706F6F;
  margin: revert;
}

/*---------------------------  container2.1  --------------------------------*/
#container2_sm {
  padding: 0;
}

#container2_sm .col {
  background-color: rgb(244, 244, 244);
  padding: 2%;
  height: 100%;
  color: #706F6F;
}

#container2_sm #col1 {
  margin-bottom: 1%;
  margin-right: 1%;
}

#col1, #col2, #col3, #col4 {
  height: 48% !important;
  text-align: left;
}

#container2_sm #col2 {
  margin-bottom: 1%;
  margin-left: 1%;
}

#container2_sm #col3 {
  margin-top: 1%;
  margin-right: 1%;
}

#container2_sm #col4 {
  margin-top: 1%;
  margin-left: 1%;
}

#container2_sm .col h5 {
  color: #E43D30;
  width: 70%;
  max-height: 30%;
  margin-top: 5%;
  min-height: 20%;
}

#container2_sm p {
  width: 70%;
  max-height: 35%;
}

/*---------------------------  container3  --------------------------------*/
#container3 {
  padding: 0;
  height: 450px;
  background: url("../../assets/images/container3_image.svg") right no-repeat, #E43D30;
}

#container3_in {
  height: 100%;
  color: white;
  padding: 0;
}

#container3 .col {
  padding: 0;
  height: 100%;
}

#container3 h2 {
  width: 70%;
  min-height: 20%;
}

#container3 p {
  margin-bottom: 0;
  min-height: 5%;
}

#container3 span {
  background-color: transparent;
  font-size: 1.15rem;
  color: white;
  padding: 0;
}

#container3 button {
  height: 15%;
  background-color: transparent;
  border: 0.2rem solid white;
  width: 40%;
  max-width: 40%;
  min-width: 30%;
  position: absolute;
  margin: 34%;
}

#container3 .text {
  margin: 20% 0;
  min-height: 50%;
}

/*---------------------------  container4  --------------------------------*/
#container4 {
  padding: 0;
  height: 435px;
  background: rgb(255, 255, 255);
}

#container4_in {
  padding: 0;
  height: 100%;
}

#container4 .col-top {
  height: 30%;
}

#container4 .col-top, #container4 .col-bottom {
  padding: 0;
  width: 100%;
  text-align: center;
}

#container4 .col-bottom {
  height: 70%;
}

#container4 .col-top h1 {
  text-transform: uppercase;
  color: grey;
  margin: revert;
}

#container4 .col-sm {
  text-align: center;
  color: #706F6F;
}

#container4 .col-sm p {
  color: #706F6F;
}

#container4 .icon {
  height: 40%;
}

/*---------------------------  container5  --------------------------------*/
#container5 {
  padding: 0;
  height: 300px;
  background: #F6F6F6;
}

#container5_in {
  height: 100%;
  text-align: left;
  padding: 0;
}

#container5 .col {
  height: 100%;
  padding: 0;
  color: #706F6F;
}

#container5 h2 {
  width: 70%;
  min-height: 5%;
}

#container5 p {
  margin-bottom: 0;
  min-height: 5%;
  width: 70%;
}

#container5 span {
  background-color: transparent;
  font-size: 1.3rem;
  color: #E43D30;
  font-weight: bold;
  padding: 0;
}

#container5 button {
  height: 15%;
  min-height: 15%;
  max-width: 40%;
  min-width: 25%;
  margin: 22% 37%;
  background-color: transparent;
  border: 0.2rem solid #E43D30;
  width: 25%;
  position: absolute;
}

#container5 .text {
  margin: 15% 0;
  min-height: 50%;
}

/*---------------------------  media  --------------------------------*/
/*Medium devices (tablets)*/
@media (min-width: 768px) and (max-width: 992px) {
  /*---------------------------  carousel  --------------------------------*/
  .carousel-item span {
    height: 550px;
  }

  .carousel-caption {
    width: 50%;
    left: 25%;
  }

  /*---------------------------  container1  --------------------------------*/
  #container1 {
    height: 310px;
  }

  /*---------------------------  container2  --------------------------------*/
  #container2 {
    height: 550px;
  }

  /*---------------------------  container2_sm  --------------------------------*/
  #container2_sm .col h5 {
    width: auto;
  }

  #container2 .col-bottom #row1 {
    margin: 0;
  }

  /*---------------------------  container3  --------------------------------*/
  #container3 {
    height: 300px;
  }

  /*---------------------------  container4  --------------------------------*/
  #container4 {
    height: 250px;
  }

  /*---------------------------  container5  --------------------------------*/
  #container5 {
    height: 200px;
  }

}
