/*---------------------------  GLOBAL  --------------------------------*/
/*---------------------------  GLOBAL  --------------------------------*/
/*---------------------------  GLOBAL  --------------------------------*/


/*---------------------------  COMPONENTS  --------------------------------*/
/*---------------------------  COMPONENTS  --------------------------------*/
/*---------------------------  COMPONENTS  --------------------------------*/

/*---------------------------  CAROUSEL  --------------------------------*/
/*---------------------------  CAROUSEL  --------------------------------*/
.carousel-item {
  height: 500px;
}

.carousel-control-prev-icon {
  background-image: url("../../assets/arrows/arrow_left.png");
  width: 20px;
  height: 40px;
}

.carousel-control-next-icon {
  background-image: url("../../assets/arrows/arrow_right.png");
  width: 20px;
  height: 40px;
}
/*---------------------------  CONTAINER1  --------------------------------*/
/*---------------------------  CONTAINER1  --------------------------------*/
.container1-apresen {
  height: 700px;
  background: linear-gradient(to bottom, rgba(225, 225, 255, 0) 25%, rgba(225, 225, 224, 0.25) 50%,
  rgba(225, 224, 224, 0.5) 75%, rgba(224, 224, 224, 0.75) 100%);
  color: #E43D30;
}

.container1 p {
  color: #706F6F;
}

/*---------------------------  CONTAINER2  --------------------------------*/
/*---------------------------  CONTAINER2  --------------------------------*/
.container2-charac {
  height: 1050px;
  background: linear-gradient(to bottom, rgba(225, 225, 255, 0) 25%, rgba(225, 225, 224, 0) 50%,
  rgba(225, 224, 224, 0.25) 75%, rgba(224, 224, 224, 0.50) 100%);
  color: #706F6F;
}

.container2-1 h5 {
  color: #E43D30;
}

.col-charac {
  background-color: #f4f4f4;
  height: 24%;
  margin: auto;
}

.col-img {
  height: 25%;
}

.col-container {
  height: 100%;
}

/*---------------------------  CONTAINER3  --------------------------------*/
/*---------------------------  CONTAINER3  --------------------------------*/
.container3-becomeInstaller {
  height: 350px;
  background: url("../../assets/images/container3_image.svg") right no-repeat, #E43D30;
}

.container3 .btn {
  width: 50%;
  height: 30%;
  border: 0.2rem solid white;
  top: 35%;
}

.text {
  height: fit-content;
}

/*---------------------------  CONTAINER4  --------------------------------*/
/*---------------------------  CONTAINER4  --------------------------------*/
.container4 {
  height: 700px;
  color: #706F6F;
}

/*---------------------------  CONTAINER5  --------------------------------*/
/*---------------------------  CONTAINER5  --------------------------------*/
.container5-contact {
  height: 200px;
  background: #F6F6F6;
}

.container5 span {
  color: #E43D30;
}

.container5 .btn {
  border: 0.2rem solid #E43D30;
  width: 40%;
  height: 20%;
  top: 40%;
}


/*---------------------------  MEDIA  --------------------------------*/
/*---------------------------  MEDIA  --------------------------------*/
/*---------------------------  MEDIA  --------------------------------*/
/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {

  .container1-apresen, .container4 {
    height: 300px;
  }

  .container2-charac {
    height: 700px;
  }

  .col-charac {
    max-width: 49%;
    height: 49%;
  }

  .container3 .btn {
    width: auto;
    height: auto;
    top: 45%;
  }

  .container5-contact {
    height: 300px;
  }
}

/*Medium devices (tablets)*/
@media (min-width: 768px) {
  .carousel-item {
    height: 600px;
  }

  .container2-charac {
    height: 1050px;
  }

  .col-container {
    height: 70%;
  }

  .container4 span {
    font-size: 2rem;
  }

}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  .container1-apresen, .container4 {
    height: 435px;
  }

  .carousel-item {
    height: 736px;
  }

  .container2-charac {
    height: 750px;
  }

  .col-img,
  .col-container {
    height: 100%;
  }

  .container3-becomeInstaller {
    height: 450px;
  }

  .container5-contact {
    height: 300px;
  }
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
}
