/*---------------------------  global  --------------------------------*/
.row {
  height: 100%;
}

h1 {
  color: #E43D30;
}

/*---------------------------  container1  --------------------------------*/
#container1 {
  height: 400px;
  background: #E43D30;
}

/*---------------------------  container2  --------------------------------*/
#container2 {
  height: 700px;
}

/*---------------------------  container3  --------------------------------*/
#container3-full {
  height: 350px;
  background: url("../../assets/images/container3_image.svg") right no-repeat, #E43D30;
}

#container3 .btn {
  width: 45%;
  height: 30%;
  border: 0.2rem solid white;
  top: 35%;
}


/*---------------------------  media  --------------------------------*/
/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
  /*---------------------------  container1 --------------------------------*/
  #container1 img {
    width: 30%;
  }

  /*---------------------------  container2  --------------------------------*/
  #container2 {
    height: 600px;
  }

  /*---------------------------  container3  --------------------------------*/
  #container3 .btn {
    width: auto;
    height: auto;
    top: 45%;
  }

}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  /*---------------------------  container1 --------------------------------*/
  #container1 {
    height: 450px;
  }

  /*---------------------------  container2 --------------------------------*/
  #container2 {
    height: 1100px;
  }

}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  /*---------------------------  container1 --------------------------------*/
  #container1 {
    height: 500px;
  }

  /*---------------------------  container3  --------------------------------*/
  #container3-full {
    height: 450px;
  }
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
  /*---------------------------  container1 --------------------------------*/
  #container1 {
    height: 700px;
  }
}
