/*X-Small devices (portrait phones, less than 576px)*/
/*No media query for `xs` since this is the default in Bootstrap*/

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  /*  container1*/
  #container1 {
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 100%;
    height: 500px;
    background: #E43D30;
  }

  #container1 .row {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
  }

  #container1 .row img {
    height: 30%;
    width: 30%;
    padding: 0;
    margin: 10% auto 0 auto;
  }

  #container1 .name_product {
    width: 100%;
    height: 15%;
    padding: 0;
    margin-top: 9.2%;
    text-align: center;
  }

  #container1 .row h1 {
    width: 50%;
    height: 100%;
    font-size: 4rem;
    margin: 0.2% auto 0 auto;
    color: white;
    text-transform: uppercase;
  }

  /*  container 2*/
  #container2 {
    margin: 0;
    padding: 0;
    height: 1185px;
    background: white;
    max-width: 100%;
  }

  #container2 .row {
    margin: 0 5%;
    height: 100%;
    max-width: 100%;
  }

  #container2 h1 {
    width: 100%;
    text-align: center;
    padding: 0;
    height: 10%;
    margin: 10% auto 0 auto;
    color: #E43D30;
    text-transform: uppercase;
    font-size: 3rem;
  }

  #container2 img {
    width: 35%;
    height: 35%;
    margin: -20% auto 0 auto;
    padding: 0;
  }

  /*  container3*/
  #container3 {
    margin: 0;
    padding: 0;
    height: 450px;
    background: #E43D30;
    max-width: 100%;
  }

  #container3 .row {
    height: 100%;
    width: 100%;
    color: white;
    text-align: left;
  }

  #container3 .col-6 {
    margin: 0;
    padding: 0;
    height: 100%;
  }

  #container3 h4 {
    width: 70%;
    height: 20%;
    margin-top: 20%;
    font-size: 2rem;
  }

  #container3 p {
    width: 78%;
    margin-bottom: 0;
    font-size: 1.1rem;
  }

  #container3 span {
    background-color: transparent;
    font-size: 1.15rem;
    color: white;
    padding: 0;
  }

  #container3 button {
    float: right;
    height: 15%;
    margin: 25% 0 50% 30%;
    background-color: transparent;
    border: 0.2rem solid white;
    width: 25%;
    position: absolute;
  }

  #container3 img {
    height: 100%;
    float: right;
    width: auto;
  }

}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
}

/*X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
}

/*XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {
}
